In [8]:
import psycopg2 as pg
import pandas as pd

In [9]:
def get_query(q, cur):
    cur.execute(q)
    return cur.fetchall(), [row[0] for row in cur.description]

def query_controller(query):
    try:
        DBNAME = "sakila"
        USER_NAME = "postgres"
        USER_PASWD = "9182"
        HOST = "localhost"
        conn = pg.connect(
            f" \
            dbname={DBNAME} \
            user={USER_NAME} \
            password={USER_PASWD} \
            host={HOST}"
        )
        _cur = conn.cursor()
        return get_query(query, _cur)
    except:
        raise
    finally:
        _cur.close()
        conn.close()

In [10]:
QUERY_01 = "\
    select\
        f.film_id,\
        f.title,\
        f.rating,\
        i.inventory_id,\
        r.rental_id,\
        r.customer_id,\
        r.rental_date,\
        r.return_date\
    from film f \
    join inventory i using(film_id) \
    join rental r using(inventory_id)"

In [11]:
result = query_controller(query=QUERY_01)

In [12]:
df = pd.DataFrame(data=result[0], columns=result[1])

In [13]:
df = df.set_index("inventory_id")
df.head().transpose()

inventory_id,367,1525,1711,2452,2079
film_id,80,333,373,535,450
title,BLANKET BEVERLY,FREAKY POCUS,GRADUATE LORD,LOVE SUICIDES,IDOLS SNATCHERS
rating,G,R,G,R,NC-17
rental_id,1,2,3,4,5
customer_id,130,459,408,333,222
rental_date,2005-05-24 22:53:30,2005-05-24 22:54:33,2005-05-24 23:03:39,2005-05-24 23:04:41,2005-05-24 23:05:21
return_date,2005-05-26 22:04:30,2005-05-28 19:40:33,2005-06-01 22:12:39,2005-06-03 01:43:41,2005-06-02 04:33:21