In [1]:
import pandas as pd

In [2]:
url = "./src/data/fifa21_male2.csv"
df = pd.read_csv(url, low_memory=False)

In [3]:
df.head(5)

,ID,Name,Age,OVA,Nationality,Club,BOV,BP,Position,Player Photo,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,Gender
0,2,G. Pasquale,33,69,Italy,Udinese,71,LWB,LM,https://cdn.sofifa.com/players/000/002/16_120.png,...,70+-1,70+-1,71+-2,70+-1,69+0,69+0,69+0,70+-1,17+0,Male
1,16,Luis García,37,71,Spain,KAS Eupen,70,CM,CM CAM CDM,https://cdn.sofifa.com/players/000/016/19_120.png,...,66+1,66+1,62+1,60+1,60+1,60+1,60+1,60+1,17+1,Male
2,27,J. Cole,33,71,England,Coventry City,71,CAM,CAM RM RW LM,https://cdn.sofifa.com/players/000/027/16_120.png,...,54+0,54+0,52+0,47+0,46+0,46+0,46+0,47+0,15+0,Male
3,36,D. Yorke,36,68,Trinidad &amp; Tobago,Sunderland,70,ST,NaN,https://cdn.sofifa.com/players/000/036/09_120.png,...,65+0,65+0,56+0,57+0,51+0,51+0,51+0,57+0,22+0,Male
4,41,Iniesta,36,81,Spain,Vissel Kobe,82,CAM,CM CAM,https://cdn.sofifa.com/players/000/041/20_120.png,...,73+3,73+3,70+3,67+3,64+3,64+3,64+3,67+3,17+3,Male

In [4]:
df.columns = df.columns.str.lower().str.replace(" ", "_")
for _v in df.columns.values:
    print(_v)

id
name
age
ova
nationality
club
bov
bp
position
player_photo
club_logo
flag_photo
pot
team_&_contract
height
weight
foot
growth
joined
loan_date_end
value
wage
release_clause
contract
attacking
crossing
finishing
heading_accuracy
short_passing
volleys
skill
dribbling
curve
fk_accuracy
long_passing
ball_control
movement
acceleration
sprint_speed
agility
reactions
balance
power
shot_power
jumping
stamina
strength
long_shots
mentality
aggression
interceptions
positioning
vision
penalties
composure
defending
marking
standing_tackle
sliding_tackle
goalkeeping
gk_diving
gk_handling
gk_kicking
gk_positioning
gk_reflexes
total_stats
base_stats
w/f
sm
a/w
d/w
ir
pac
sho
pas
dri
def
phy
hits
ls
st
rs
lw
lf
cf
rf
rw
lam
cam
ram
lm
lcm
cm
rcm
rm
lwb
ldm
cdm
rdm
rwb
lb
lcb
cb
rcb
rb
gk
gender

In [5]:
df = df.set_index("id")

In [6]:
df.head(5)

,name,age,ova,nationality,club,bov,bp,position,player_photo,club_logo,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,gender
id,,,,,,,,,,,,,,,,,,,,,
2,G. Pasquale,33,69,Italy,Udinese,71,LWB,LM,https://cdn.sofifa.com/players/000/002/16_120.png,https://cdn.sofifa.com/teams/55/light_60.png,...,70+-1,70+-1,71+-2,70+-1,69+0,69+0,69+0,70+-1,17+0,Male
16,Luis García,37,71,Spain,KAS Eupen,70,CM,CM CAM CDM,https://cdn.sofifa.com/players/000/016/19_120.png,https://cdn.sofifa.com/teams/2013/light_60.png,...,66+1,66+1,62+1,60+1,60+1,60+1,60+1,60+1,17+1,Male
27,J. Cole,33,71,England,Coventry City,71,CAM,CAM RM RW LM,https://cdn.sofifa.com/players/000/027/16_120.png,https://cdn.sofifa.com/teams/1800/light_60.png,...,54+0,54+0,52+0,47+0,46+0,46+0,46+0,47+0,15+0,Male
36,D. Yorke,36,68,Trinidad &amp; Tobago,Sunderland,70,ST,NaN,https://cdn.sofifa.com/players/000/036/09_120.png,https://cdn.sofifa.com/teams/106/light_60.png,...,65+0,65+0,56+0,57+0,51+0,51+0,51+0,57+0,22+0,Male
41,Iniesta,36,81,Spain,Vissel Kobe,82,CAM,CM CAM,https://cdn.sofifa.com/players/000/041/20_120.png,https://cdn.sofifa.com/teams/101146/light_60.png,...,73+3,73+3,70+3,67+3,64+3,64+3,64+3,67+3,17+3,Male

### Who were the best players **"Best Overall" (BOV)** score in 2021?

In [7]:
df.sort_values(by="bov", ascending=False).head(5)

,name,age,ova,nationality,club,bov,bp,position,player_photo,club_logo,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,gender
id,,,,,,,,,,,,,,,,,,,,,
158023,L. Messi,33,93,Argentina,FC Barcelona,93,RW,RW ST CF,https://cdn.sofifa.com/players/158/023/20_120.png,https://cdn.sofifa.com/teams/241/light_60.png,...,65+3,65+3,66+3,62+3,52+3,52+3,52+3,62+3,19+3,Male
20801,Cristiano Ronaldo,35,92,Portugal,Juventus,92,ST,ST LW,https://cdn.sofifa.com/players/020/801/20_120.png,https://cdn.sofifa.com/teams/45/light_60.png,...,61+3,61+3,65+3,61+3,54+3,54+3,54+3,61+3,20+3,Male
231747,K. Mbappé,21,90,France,Paris Saint-Germain,91,ST,ST LW RW,https://cdn.sofifa.com/players/231/747/20_120.png,https://cdn.sofifa.com/teams/73/light_60.png,...,63+3,63+3,67+3,63+3,55+3,55+3,55+3,63+3,18+3,Male
188545,R. Lewandowski,31,91,Poland,FC Bayern München,91,ST,ST,https://cdn.sofifa.com/players/188/545/20_120.png,https://cdn.sofifa.com/teams/21/light_60.png,...,65+3,65+3,64+3,61+3,60+3,60+3,60+3,61+3,19+3,Male
200389,J. Oblak,27,91,Slovenia,Atlético Madrid,91,GK,GK,https://cdn.sofifa.com/players/200/389/20_120.png,https://cdn.sofifa.com/teams/240/light_60.png,...,36+3,36+3,32+3,32+3,33+3,33+3,33+3,32+3,89+3,Male

### Who were the players with the greatest **"Potential" (POT)** score in 2021?

In [8]:
df.sort_values(by="pot", ascending=False).head(5)

,name,age,ova,nationality,club,bov,bp,position,player_photo,club_logo,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,gender
id,,,,,,,,,,,,,,,,,,,,,
231747,K. Mbappé,21,90,France,Paris Saint-Germain,91,ST,ST LW RW,https://cdn.sofifa.com/players/231/747/20_120.png,https://cdn.sofifa.com/teams/73/light_60.png,...,63+3,63+3,67+3,63+3,55+3,55+3,55+3,63+3,18+3,Male
192448,M. ter Stegen,28,90,Germany,FC Barcelona,90,GK,GK,https://cdn.sofifa.com/players/192/448/20_120.png,https://cdn.sofifa.com/teams/241/light_60.png,...,41+3,41+3,33+3,31+3,33+3,33+3,33+3,31+3,88+3,Male
238794,Vinícius Jr.,19,80,Brazil,Real Madrid,81,RM,LW,https://cdn.sofifa.com/players/238/794/20_120.png,https://cdn.sofifa.com/teams/243/light_60.png,...,54+2,54+2,59+2,54+2,44+2,44+2,44+2,54+2,15+2,Male
233049,J. Sancho,20,87,England,Borussia Dortmund,89,CAM,RM LM CAM,https://cdn.sofifa.com/players/233/049/20_120.png,https://cdn.sofifa.com/teams/22/light_60.png,...,62+3,62+3,66+3,61+3,49+3,49+3,49+3,61+3,19+3,Male
242444,João Félix,20,81,Portugal,Atlético Madrid,83,CAM,CF ST,https://cdn.sofifa.com/players/242/444/20_120.png,https://cdn.sofifa.com/teams/240/light_60.png,...,60+2,60+2,63+2,59+2,53+2,53+2,53+2,59+2,21+2,Male

### Who were the players with the greatest **"Overall Rating" (OVA)** score in 2021?

In [9]:
df.sort_values(by="ova", ascending=False).head(5)

,name,age,ova,nationality,club,bov,bp,position,player_photo,club_logo,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,gender
id,,,,,,,,,,,,,,,,,,,,,
158023,L. Messi,33,93,Argentina,FC Barcelona,93,RW,RW ST CF,https://cdn.sofifa.com/players/158/023/20_120.png,https://cdn.sofifa.com/teams/241/light_60.png,...,65+3,65+3,66+3,62+3,52+3,52+3,52+3,62+3,19+3,Male
20801,Cristiano Ronaldo,35,92,Portugal,Juventus,92,ST,ST LW,https://cdn.sofifa.com/players/020/801/20_120.png,https://cdn.sofifa.com/teams/45/light_60.png,...,61+3,61+3,65+3,61+3,54+3,54+3,54+3,61+3,20+3,Male
192985,K. De Bruyne,29,91,Belgium,Manchester City,91,CAM,CAM CM,https://cdn.sofifa.com/players/192/985/20_120.png,https://cdn.sofifa.com/teams/10/light_60.png,...,80+3,80+3,79+3,75+3,69+3,69+3,69+3,75+3,21+3,Male
188545,R. Lewandowski,31,91,Poland,FC Bayern München,91,ST,ST,https://cdn.sofifa.com/players/188/545/20_120.png,https://cdn.sofifa.com/teams/21/light_60.png,...,65+3,65+3,64+3,61+3,60+3,60+3,60+3,61+3,19+3,Male
190871,Neymar Jr,28,91,Brazil,Paris Saint-Germain,91,LW,LW CAM,https://cdn.sofifa.com/players/190/871/20_120.png,https://cdn.sofifa.com/teams/73/light_60.png,...,62+3,62+3,67+3,62+3,49+3,49+3,49+3,62+3,20+3,Male

### Which clubs had the best ***"Overal Rating" (OVA)*** score in 2021, based on its players ***OVA***?

In [10]:
df[["club", "ova", "pot", "bov"]].groupby(by="club").sum().sort_values(by="ova", ascending=False).head(5)

                    ova   pot   bov
club
Manchester United  3414  3682  3448
Chelsea            3355  3645  3395
Inter              3211  3351  3231
Arsenal            3166  3458  3199
FC Barcelona       3161  3440  3196

### Which clubs had the best ***"Potential" (POT)*** score in 2021, based on its players ***POT***?

In [11]:
df[["club", "ova", "pot", "bov"]].groupby(by="club").sum().sort_values(by="pot", ascending=False).head(5)

                    ova   pot   bov
club
Manchester United  3414  3682  3448
Chelsea            3355  3645  3395
Arsenal            3166  3458  3199
FC Barcelona       3161  3440  3196
Tottenham Hotspur  3125  3439  3164

### Which clubs had the best ***"Best Overall" (BOV)*** score in 2021, based on its players ***BOV***?

In [12]:
df[["club", "ova", "pot", "bov"]].groupby(by="club").sum().sort_values(by="bov", ascending=False).head(5)

                    ova   pot   bov
club
Manchester United  3414  3682  3448
Chelsea            3355  3645  3395
Inter              3211  3351  3231
Arsenal            3166  3458  3199
FC Barcelona       3161  3440  3196

In [13]:
mancherster_united_squad = df[df["club"] == "Manchester United"]
mancherster_united_squad.sort_values(by="ova", ascending=False).head(5)

,name,age,ova,nationality,club,bov,bp,position,player_photo,club_logo,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,gender
id,,,,,,,,,,,,,,,,,,,,,
212198,Bruno Fernandes,25,87,Portugal,Manchester United,88,CAM,CAM CM,https://cdn.sofifa.com/players/212/198/20_120.png,https://cdn.sofifa.com/teams/11/light_60.png,...,79+2,79+2,79+2,76+2,70+2,70+2,70+2,76+2,20+2,Male
195864,P. Pogba,27,86,France,Manchester United,86,CM,CM CDM,https://cdn.sofifa.com/players/195/864/20_120.png,https://cdn.sofifa.com/teams/11/light_60.png,...,78+3,78+3,76+3,74+3,73+3,73+3,73+3,74+3,13+3,Male
193080,De Gea,29,86,Spain,Manchester United,86,GK,GK,https://cdn.sofifa.com/players/193/080/20_120.png,https://cdn.sofifa.com/teams/11/light_60.png,...,40+3,40+3,36+3,35+3,34+3,34+3,34+3,35+3,84+2,Male
231677,M. Rashford,22,85,England,Manchester United,86,RM,LM ST,https://cdn.sofifa.com/players/231/677/20_120.png,https://cdn.sofifa.com/teams/11/light_60.png,...,65+2,65+2,68+2,64+2,57+2,57+2,57+2,64+2,18+2,Male
211300,A. Martial,24,84,France,Manchester United,86,ST,ST,https://cdn.sofifa.com/players/211/300/20_120.png,https://cdn.sofifa.com/teams/11/light_60.png,...,61+3,61+3,65+3,62+3,54+3,54+3,54+3,62+3,18+3,Male

In [19]:
def contract_interval (x):
    if "On Loan" in x:
        return x.split(", ")[1].split(" On Loan")[0]
    elif " ~ " in x:
        return x.split(" ~ ")[1]
    else:
        return x.split()[0]

mancherster_united_squad[mancherster_united_squad["contract"].apply(contract_interval).apply(lambda x: int(x) >= 2021)].head()

,name,age,ova,nationality,club,bov,bp,position,player_photo,club_logo,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,gender
id,,,,,,,,,,,,,,,,,,,,,
53739,L. Grant,37,70,England,Manchester United,70,GK,GK,https://cdn.sofifa.com/players/053/739/20_120.png,https://cdn.sofifa.com/teams/11/light_60.png,...,35+2,35+2,29+2,29+2,31+2,31+2,31+2,29+2,69+1,Male
173373,S. Romero,33,80,Argentina,Manchester United,80,GK,GK,https://cdn.sofifa.com/players/173/373/20_120.png,https://cdn.sofifa.com/teams/11/light_60.png,...,36+3,36+3,30+3,29+3,30+3,30+3,30+3,29+3,79+1,Male
178088,Juan Mata,32,79,Spain,Manchester United,79,CAM,CAM RM,https://cdn.sofifa.com/players/178/088/20_120.png,https://cdn.sofifa.com/teams/11/light_60.png,...,58+3,58+3,58+3,54+3,45+3,45+3,45+3,54+3,16+3,Male
185195,O. Ighalo,31,77,Nigeria,Manchester United,77,ST,ST,https://cdn.sofifa.com/players/185/195/20_120.png,https://cdn.sofifa.com/teams/11/light_60.png,...,57+2,57+2,59+2,57+2,56+2,56+2,56+2,57+2,18+2,Male
189881,C. Smalling,30,79,England,Manchester United,79,CB,CB,https://cdn.sofifa.com/players/189/881/20_120.png,https://cdn.sofifa.com/teams/11/light_60.png,...,73+3,73+3,70+3,73+3,79+0,79+0,79+0,73+3,21+3,Male

In [ ]:
mancherster_united_squad[["name", "contract", "loan_date_end", "team_&_contract", "release_clause"]]