# Fifa Moneyball Project
##### Author: Diego Plaza
##### Date: May 2022

In [1]:
import pandas as pd

In [2]:
url = "./src/data/fifa21_male2.csv"
df = pd.read_csv(url, low_memory=False)

In [3]:
df.head(5)

,ID,Name,Age,OVA,Nationality,Club,BOV,BP,Position,Player Photo,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,Gender
0,2,G. Pasquale,33,69,Italy,Udinese,71,LWB,LM,https://cdn.sofifa.com/players/000/002/16_120.png,...,70+-1,70+-1,71+-2,70+-1,69+0,69+0,69+0,70+-1,17+0,Male
1,16,Luis García,37,71,Spain,KAS Eupen,70,CM,CM CAM CDM,https://cdn.sofifa.com/players/000/016/19_120.png,...,66+1,66+1,62+1,60+1,60+1,60+1,60+1,60+1,17+1,Male
2,27,J. Cole,33,71,England,Coventry City,71,CAM,CAM RM RW LM,https://cdn.sofifa.com/players/000/027/16_120.png,...,54+0,54+0,52+0,47+0,46+0,46+0,46+0,47+0,15+0,Male
3,36,D. Yorke,36,68,Trinidad &amp; Tobago,Sunderland,70,ST,NaN,https://cdn.sofifa.com/players/000/036/09_120.png,...,65+0,65+0,56+0,57+0,51+0,51+0,51+0,57+0,22+0,Male
4,41,Iniesta,36,81,Spain,Vissel Kobe,82,CAM,CM CAM,https://cdn.sofifa.com/players/000/041/20_120.png,...,73+3,73+3,70+3,67+3,64+3,64+3,64+3,67+3,17+3,Male

### To decrease complexity we'll standardize column names

In [4]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [5]:
df = df.set_index("id")
df.head()

,name,age,ova,nationality,club,bov,bp,position,player_photo,club_logo,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,gender
id,,,,,,,,,,,,,,,,,,,,,
2,G. Pasquale,33,69,Italy,Udinese,71,LWB,LM,https://cdn.sofifa.com/players/000/002/16_120.png,https://cdn.sofifa.com/teams/55/light_60.png,...,70+-1,70+-1,71+-2,70+-1,69+0,69+0,69+0,70+-1,17+0,Male
16,Luis García,37,71,Spain,KAS Eupen,70,CM,CM CAM CDM,https://cdn.sofifa.com/players/000/016/19_120.png,https://cdn.sofifa.com/teams/2013/light_60.png,...,66+1,66+1,62+1,60+1,60+1,60+1,60+1,60+1,17+1,Male
27,J. Cole,33,71,England,Coventry City,71,CAM,CAM RM RW LM,https://cdn.sofifa.com/players/000/027/16_120.png,https://cdn.sofifa.com/teams/1800/light_60.png,...,54+0,54+0,52+0,47+0,46+0,46+0,46+0,47+0,15+0,Male
36,D. Yorke,36,68,Trinidad &amp; Tobago,Sunderland,70,ST,NaN,https://cdn.sofifa.com/players/000/036/09_120.png,https://cdn.sofifa.com/teams/106/light_60.png,...,65+0,65+0,56+0,57+0,51+0,51+0,51+0,57+0,22+0,Male
41,Iniesta,36,81,Spain,Vissel Kobe,82,CAM,CM CAM,https://cdn.sofifa.com/players/000/041/20_120.png,https://cdn.sofifa.com/teams/101146/light_60.png,...,73+3,73+3,70+3,67+3,64+3,64+3,64+3,67+3,17+3,Male

In [6]:
df.head(5)

,name,age,ova,nationality,club,bov,bp,position,player_photo,club_logo,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,gender
id,,,,,,,,,,,,,,,,,,,,,
2,G. Pasquale,33,69,Italy,Udinese,71,LWB,LM,https://cdn.sofifa.com/players/000/002/16_120.png,https://cdn.sofifa.com/teams/55/light_60.png,...,70+-1,70+-1,71+-2,70+-1,69+0,69+0,69+0,70+-1,17+0,Male
16,Luis García,37,71,Spain,KAS Eupen,70,CM,CM CAM CDM,https://cdn.sofifa.com/players/000/016/19_120.png,https://cdn.sofifa.com/teams/2013/light_60.png,...,66+1,66+1,62+1,60+1,60+1,60+1,60+1,60+1,17+1,Male
27,J. Cole,33,71,England,Coventry City,71,CAM,CAM RM RW LM,https://cdn.sofifa.com/players/000/027/16_120.png,https://cdn.sofifa.com/teams/1800/light_60.png,...,54+0,54+0,52+0,47+0,46+0,46+0,46+0,47+0,15+0,Male
36,D. Yorke,36,68,Trinidad &amp; Tobago,Sunderland,70,ST,NaN,https://cdn.sofifa.com/players/000/036/09_120.png,https://cdn.sofifa.com/teams/106/light_60.png,...,65+0,65+0,56+0,57+0,51+0,51+0,51+0,57+0,22+0,Male
41,Iniesta,36,81,Spain,Vissel Kobe,82,CAM,CM CAM,https://cdn.sofifa.com/players/000/041/20_120.png,https://cdn.sofifa.com/teams/101146/light_60.png,...,73+3,73+3,70+3,67+3,64+3,64+3,64+3,67+3,17+3,Male

In [7]:
df.shape

(17125, 106)

## Let's clean the data

In [8]:
nan_columns = [_column for _column in df.columns if df[_column].isna().sum() or df[_column].empty > 0]
qty_nan_per_nan_columns = df[nan_columns].isna().sum()
columns_type = df[nan_columns].dtypes
nan_df = pd.concat([qty_nan_per_nan_columns, columns_type], axis=1)
nan_df.columns = ["nan_qty", "dtype"]
nan_df

                nan_qty    dtype
club                 23   object
position            413   object
club_logo            23   object
joined               58   object
loan_date_end     16215   object
volleys              58  float64
curve                58  float64
agility              58  float64
balance              58  float64
jumping              58  float64
interceptions         7  float64
positioning           7  float64
vision               58  float64
composure           423  float64
sliding_tackle       58  float64
a/w                  89   object
d/w                  89   object

In [9]:
columns_outside_scope = [
    'player_photo',
    'club_logo',
    'flag_photo',
    'gender',
    'joined',
    'team_&_contract',
    'loan_date_end',
    'name'
]

df.drop(columns_outside_scope, inplace=True ,axis=1)

df.head(5)

,age,ova,nationality,club,bov,bp,position,pot,height,weight,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
id,,,,,,,,,,,,,,,,,,,,,
2,33,69,Italy,Udinese,71,LWB,LM,69,"6'0""",181lbs,...,70+-1,70+-1,70+-1,71+-2,70+-1,69+0,69+0,69+0,70+-1,17+0
16,37,71,Spain,KAS Eupen,70,CM,CM CAM CDM,71,"5'10""",143lbs,...,66+1,66+1,66+1,62+1,60+1,60+1,60+1,60+1,60+1,17+1
27,33,71,England,Coventry City,71,CAM,CAM RM RW LM,71,"5'9""",161lbs,...,54+0,54+0,54+0,52+0,47+0,46+0,46+0,46+0,47+0,15+0
36,36,68,Trinidad &amp; Tobago,Sunderland,70,ST,NaN,82,"5'11""",165lbs,...,65+0,65+0,65+0,56+0,57+0,51+0,51+0,51+0,57+0,22+0
41,36,81,Spain,Vissel Kobe,82,CAM,CM CAM,81,"5'7""",150lbs,...,73+3,73+3,73+3,70+3,67+3,64+3,64+3,64+3,67+3,17+3

In [10]:
def contract_interval (x):
    try:
        if "On Loan" in x:
            x = int(x.split(", ")[1].split(" On Loan")[0])
        elif " ~ " in x:
            x = int(x.split(" ~ ")[1])
        else:
            x = 0
    except:
        raise
    finally:
        return x

# international units
def height_to_cm(el):
    el_list = el.split('"')[0].split("'")
    return round(float(int(el_list[0])*12 + int(el_list[1])) * 2.54, 0)

def weight_to_kg(el):
    return round(float(el.split("lbs")[0]) / 2.2, 0)

def macro_positions(_p):
    for k, v in POSITIONS_DICT.items():
        if _p in v:
            return k

def qty_possible_positions(positions):
    positions = str(positions)
    p_list = positions.split(" ")
    if type(p_list) == list:
        return len(p_list)

UNITS_DICT = {"M": 1000000, "K":1000}
def currency_to_magnitude(currency):
    currency = currency.replace("€", "")
    for k, v in UNITS_DICT.items():
        if k in currency:
            return float(currency.replace(k, "")) * v
    return float(currency)

POSITIONS_DICT = {}
DEFENSIVE_POSITIONS = []
MIDFIELDER_POSITIONS = []
ATTACKING_POSITIONS = []
for p in df["bp"].unique():
    if "B" in p or "K" in p:
        DEFENSIVE_POSITIONS.append(p)
    elif "M" in p:
        MIDFIELDER_POSITIONS.append(p)
    else: 
        ATTACKING_POSITIONS.append(p)
POSITIONS_DICT["D"] = DEFENSIVE_POSITIONS
POSITIONS_DICT["M"] = MIDFIELDER_POSITIONS
POSITIONS_DICT["A"] = ATTACKING_POSITIONS

In [11]:
# Active players from the season in question 2020-2021
# df.contract_end = df["contract"].apply(contract_interval).apply(lambda x: int(x) >= 2021) # todo add column with the fina
df["contract_end"] = df["contract"].apply(contract_interval).apply(lambda x: x if x >= 2020 else False)
df.drop(["contract"], axis = 1, inplace=True)

In [12]:
# we'll only keep those players who have an active status for the current season
df = df[df["contract_end"] != False]

In [13]:
# changing values in dataframe to international standard
df["height"] = df["height"].apply(height_to_cm)
df["weight"] = df["weight"].apply(weight_to_kg)
# checking
# df[["height", "weight"]].head()

In [14]:
df["bp"] = df["bp"].apply(macro_positions)

In [15]:
df["position"] = df["position"].apply(qty_possible_positions)

In [16]:
df.rename(columns={'position': 'pos_variants'}, inplace=True)

In [17]:
df[["bp", "pos_variants"]]

       bp  pos_variants
id
27      M             4
41      M             2
80      M             2
330     A             1
1179    D             1
...    ..           ...
259088  D             1
259090  M             2
259091  D             1
259101  D             2
259105  A             1

[15933 rows x 2 columns]

In [18]:
df[["value", "wage", "release_clause"]] = df[["value", "wage", "release_clause"]].applymap(currency_to_magnitude)

In [19]:
df_A = df[[
    "age",
    "ova",
    "nationality",
    "club",
    "bp",
    "pos_variants",
    "height",
    "weight",
    "foot",
    "growth",
    "value",
    "wage",
    "contract_end"
]]

In [28]:
df_A.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15933 entries, 27 to 259105
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           15933 non-null  int64
 1   ova           15933 non-null  int64
 2   nationality   15933 non-null  object
 3   club          15933 non-null  object
 4   bp            15933 non-null  object
 5   pos_variants  15933 non-null  int64
 6   height        15933 non-null  float64
 7   weight        15933 non-null  float64
 8   foot          15933 non-null  object
 9   growth        15933 non-null  int64
 10  value         15933 non-null  float64
 11  wage          15933 non-null  float64
 12  contract_end  15933 non-null  object
dtypes: float64(4), int64(4), object(5)
memory usage: 1.7+ MB

### Who were the best players **"Best Overall" (BOV)** score in 2021?

In [21]:
df.sort_values(by="bov", ascending=False).head(5)

,age,ova,nationality,club,bov,bp,pos_variants,pot,height,weight,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,contract_end
id,,,,,,,,,,,,,,,,,,,,,
158023,33,93,Argentina,FC Barcelona,93,A,3,93,170.0,72.0,...,65+3,65+3,66+3,62+3,52+3,52+3,52+3,62+3,19+3,2021
20801,35,92,Portugal,Juventus,92,A,2,92,188.0,83.0,...,61+3,61+3,65+3,61+3,54+3,54+3,54+3,61+3,20+3,2022
231747,21,90,France,Paris Saint-Germain,91,A,3,95,178.0,73.0,...,63+3,63+3,67+3,63+3,55+3,55+3,55+3,63+3,18+3,2022
188545,31,91,Poland,FC Bayern München,91,A,1,91,183.0,80.0,...,65+3,65+3,64+3,61+3,60+3,60+3,60+3,61+3,19+3,2023
190871,28,91,Brazil,Paris Saint-Germain,91,A,2,91,175.0,68.0,...,62+3,62+3,67+3,62+3,49+3,49+3,49+3,62+3,20+3,2022

### Who were the players with the greatest **"Potential" (POT)** score in 2021?

In [22]:
df.sort_values(by="pot", ascending=False).head(5)

,age,ova,nationality,club,bov,bp,pos_variants,pot,height,weight,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,contract_end
id,,,,,,,,,,,,,,,,,,,,,
231747,21,90,France,Paris Saint-Germain,91,A,3,95,178.0,73.0,...,63+3,63+3,67+3,63+3,55+3,55+3,55+3,63+3,18+3,2022
158023,33,93,Argentina,FC Barcelona,93,A,3,93,170.0,72.0,...,65+3,65+3,66+3,62+3,52+3,52+3,52+3,62+3,19+3,2021
238794,19,80,Brazil,Real Madrid,81,M,1,93,175.0,73.0,...,54+2,54+2,59+2,54+2,44+2,44+2,44+2,54+2,15+2,2025
200389,27,91,Slovenia,Atlético Madrid,91,D,1,93,188.0,87.0,...,36+3,36+3,32+3,32+3,33+3,33+3,33+3,32+3,89+3,2023
242444,20,81,Portugal,Atlético Madrid,83,M,2,93,180.0,70.0,...,60+2,60+2,63+2,59+2,53+2,53+2,53+2,59+2,21+2,2026

### Who were the players with the greatest **"Overall Rating" (OVA)** score in 2021?

In [23]:
df.sort_values(by="ova", ascending=False).head(5)

,age,ova,nationality,club,bov,bp,pos_variants,pot,height,weight,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,contract_end
id,,,,,,,,,,,,,,,,,,,,,
158023,33,93,Argentina,FC Barcelona,93,A,3,93,170.0,72.0,...,65+3,65+3,66+3,62+3,52+3,52+3,52+3,62+3,19+3,2021
20801,35,92,Portugal,Juventus,92,A,2,92,188.0,83.0,...,61+3,61+3,65+3,61+3,54+3,54+3,54+3,61+3,20+3,2022
200389,27,91,Slovenia,Atlético Madrid,91,D,1,93,188.0,87.0,...,36+3,36+3,32+3,32+3,33+3,33+3,33+3,32+3,89+3,2023
192985,29,91,Belgium,Manchester City,91,M,2,91,180.0,70.0,...,80+3,80+3,79+3,75+3,69+3,69+3,69+3,75+3,21+3,2023
190871,28,91,Brazil,Paris Saint-Germain,91,A,2,91,175.0,68.0,...,62+3,62+3,67+3,62+3,49+3,49+3,49+3,62+3,20+3,2022

### Which clubs had the best ***"Overal Rating" (OVA)*** score in 2021, based on its players ***OVA***?

In [24]:
df[["club", "ova", "pot", "bov"]].groupby(by="club").sum().sort_values(by="ova", ascending=False).head(5)

                    ova   pot   bov
club
Chelsea            3215  3497  3256
AS Monaco          3092  3352  3139
Tottenham Hotspur  3043  3357  3083
Everton            2982  3204  3022
Liverpool          2971  3227  3004

### Which clubs had the best ***"Potential" (POT)*** score in 2021, based on its players ***POT***?

In [25]:
df[["club", "ova", "pot", "bov", "bp"]].groupby(by=["club", "bp"]).sum().sort_values(by="pot", ascending=False)

                       ova   pot   bov
club              bp
Sheffield United  D   1556  1707  1571
Tottenham Hotspur D   1537  1697  1555
AS Monaco         D   1576  1695  1591
FC Barcelona      M   1509  1678  1535
Chelsea           M   1487  1631  1508
...                    ...   ...   ...
Galway United     D     57    60    57
Shelbourne FC     D     59    59    60
Júbilo Iwata      D     53    56    53
Wexford Youths    D     45    56    44
Derry City        A     48    55    50

[2346 rows x 3 columns]

### Which clubs had the best ***"Best Overall" (BOV)*** score in 2021, based on its players ***BOV***?

In [26]:
df[["club", "ova", "pot", "bov"]].groupby(by="club").sum().sort_values(by="bov", ascending=False).head(5)

                    ova   pot   bov
club
Chelsea            3215  3497  3256
AS Monaco          3092  3352  3139
Tottenham Hotspur  3043  3357  3083
Everton            2982  3204  3022
Liverpool          2971  3227  3004

In [27]:
mancherster_united_squad = df[df["club"] == "Manchester United"]
mancherster_united_squad.sort_values(by="ova", ascending=False).head(5)

,age,ova,nationality,club,bov,bp,pos_variants,pot,height,weight,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,contract_end
id,,,,,,,,,,,,,,,,,,,,,
212198,25,87,Portugal,Manchester United,88,M,2,90,178.0,69.0,...,79+2,79+2,79+2,76+2,70+2,70+2,70+2,76+2,20+2,2025
193080,29,86,Spain,Manchester United,86,D,1,86,193.0,82.0,...,40+3,40+3,36+3,35+3,34+3,34+3,34+3,35+3,84+2,2023
195864,27,86,France,Manchester United,86,M,2,87,190.0,84.0,...,78+3,78+3,76+3,74+3,73+3,73+3,73+3,74+3,13+3,2021
231677,22,85,England,Manchester United,86,M,2,91,185.0,70.0,...,65+2,65+2,68+2,64+2,57+2,57+2,57+2,64+2,18+2,2023
211300,24,84,France,Manchester United,86,A,1,88,183.0,76.0,...,61+3,61+3,65+3,62+3,54+3,54+3,54+3,62+3,18+3,2024